<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate the dog</title>
</head>
<body>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
        <h1>Rate the dog :)</h1>

        <img src="../static/sad_dog.jpeg" alt="sad dog :(" width="350px", height="500px">
        <img src="../static/dog.png" alt="a nice dog" width="400px" height="380px">


        <p>
            {{ form.rate_the_dog }}
            <br/>
            <h3>Choose the dog's name :)</h3>
            {{ form.dog_name }}
        </p>

        <br/>

    <button type="submit" style="margin-top: 30px">Submit</button>
    </form>

</body>
</html>